*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-justify-between{
    display: flex;
    justify-content: space-between;
   
}

body{
    font-family: Inter;

}

nav{
 display: flex;
 justify-content: center;
 padding: 16px 0;
}

/* .inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
} */

.container{
    width: 100%;
    max-width: 1360px;
    margin:0 auto;
}
.wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    list-style: none;
    display: flex;
    gap: 32px;

}
a{
    font-size: 16px;
    font-weight: 500;
    color: black;
    text-decoration: none;

    
}
/* shared btn */
.btn{
    padding: 12px 16px;
    color: white;
    background: #30B868;
    border-radius: 4px;
    border: none;  
    font-size: 16px;  
    font-weight: 600;
    line-height: 19px;
    text-transform: capitalize;
    font-family: Inter;
    transition: all 0.3s ease;
    border: 1px solid transparent;
    cursor: pointer;

}

.btn:hover{
    border: 1px solid rgb(3, 3, 3);
    background: transparent;
    color: #30B868;
}

.arrow:hover{
    border: 1px solid rgb(255, 255, 255);
    background: transparent;
    color: #ffffff;
}
.border:hover{
    border: 1px solid transparent;
    background:#30B868;
    color: #ffffff;
}

.border{
    background: transparent;
    border: 1px solid white;
}

/* --------banner start----------- */
.banner{

    display: flex;
    justify-content: center ;
    background: url(../Images/cropped-hands-woman-writing-book\ 1.png) no-repeat center ;
    background-size: cover;
    padding: 154px 0 180px 0 ;

}

.main-content{
    padding: 0 295px;
    margin: 0 auto;
}

.banner-wrappar{
    padding: 8px 12px;
    background: rgb(255, 255, 255);
    border-radius: 100px;
    display:  inline-flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
  
}

.circle-one{
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: rgba(70, 145, 101, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle-two{
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: rgba(70, 145, 101, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;

}

.circle-three{
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: #469165;
    display: flex;
    justify-content: center;
    align-items: center;

}

.circle-text{
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    line-height: 19px;

}
h1{
    font-size: 72px;
    font-weight: 700;
    color: white;
    line-height: 84px;
    text-align: center;
    text-transform: capitalize;
    padding: 24px 0 16px 0;

}

.text-heading{
    font-size: 18px;
    align-items: center;
    line-height: 24px;
    text-align: center;
    color: white;

}

.btn-group{
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 16px;
}


/* --------banner end----------- */

/* ----------card start------------- */


#card{
    padding: 120px;
    background: #F7F6F2;
    position: relative;
    z-index: 1;
   
}

h2{
    text-align: center;
    font-size: 48px;
    line-height: 58px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 16px;

}

.regular-paragraph{

    line-height: 20px;
    text-align: center;
    color: #627382;
    text-align: center;

}

.card-wrappar{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-top: 44px;
    
}

.card-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 24px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background:#fff;
    border-radius: 8px;
    height: 300px;

}

h3{
    font-size: 24px;
    line-height: 29px;
    font-weight: 600;
    color: #001931;
    text-transform: capitalize;
    text-align: center;

}


/* ----------card end------------- */

/* solutaion- start */

#solution{
    padding: 120px 0;
    margin-top: -150px;
    position: relative;
    z-index: 2;
    background: #ffff;


}
.solution-flex{
    display: flex;
    align-items: center;
}

.solution-right{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 60px;

}

.text-list-wrappar{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 40px;


}

.text-list{
    display: flex;
    /* justify-content: center; */
    align-items: center;        
    gap: 6px;
}

.check-circle{

    color: #30B868;

}

.medium-paragraph{
    font-weight:500;
    line-height: 20px;

}

/* solutaion- end */
/* thinking- start */
#think{
    padding-bottom: 120px;
}

.think-flex{
    padding: 80px 40px;
    background: #f7f6f2;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.heading-sm{
    font-size: 40px;
  
}

.think-w{
    width: 600px;
}

.margin-top-bottom{
    margin: 24px 0 16px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
}
/* thinking- end */

/* Footer start */
 #footer-section{
    padding: 130px 0 30px;
    background: #001931;
 }

 

 .social-text{
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: #fff;
 }

 .social-icon{
    display: flex;
    gap: 16px;
    margin-top: 40px;
 }

 .social-item{
    width: 24px;
    height: 24px;
    padding: 4px ;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

 }

 .divider{
    width: 100%;
    height: 1px;
    background: hsla(220, 13%, 91%, 0.20);
    margin: 80px 0 30px;
 }

 .copyright{
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-align: center;
    line-height: 24px;
 }

/* Footer end */