*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Inter;
}

nav{
 display: flex;
 justify-content: center;
 padding: 16px 0;
}

/* .inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
} */

.container{
    width: 100%;
    max-width: 1360px;
    margin: auto, 0;
}
.wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    list-style: none;
    display: flex;
    gap: 32px;

}
a{
    font-size: 16px;
    font-weight: 500;
    color: black;
    text-decoration: none;

    
}

.btn{
    padding: 12px 16px;
    color: white;
    background: #30B868;
    border-radius: 4px;    

}