*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    font-family: Inter;

}

nav{
 display: flex;
 justify-content: center;
 padding: 16px 0;
}

/* .inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
} */

.container{
    width: 100%;
    max-width: 1360px;
    margin:0 auto;
}
.wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    list-style: none;
    display: flex;
    gap: 32px;

}
a{
    font-size: 16px;
    font-weight: 500;
    color: black;
    text-decoration: none;

    
}
/* shared btn */
.btn{
    padding: 12px 16px;
    color: white;
    background: #30B868;
    border-radius: 4px;
    border: none;  
    font-size: 16px;  
    font-weight: 600;
    line-height: 19px;
    text-transform: capitalize;
    font-family: Inter;
    transition: all 0.3 ease;
    border: 1px solid transparent;

}

.btn:hover{
    border: 1px solid rgb(3, 3, 3);
    background: transparent;
    color: #30B868;
}

.arrow:hover{
    border: 1px solid rgb(255, 255, 255);
    background: transparent;
    color: #ffffff;
}
.border:hover{
    border: 1px solid transparent;
    background:#30B868;
    color: #ffffff;
}

.border{
    background: transparent;
    border: 1px solid white;
}

/* --------banner start----------- */
.banner{

    display: flex;
    justify-content: center ;
    background: url(../Images/cropped-hands-woman-writing-book\ 1.png) no-repeat center ;
    background-size: cover;
    padding: 154px 0 180px 0 ;

}

.main-content{
    padding: 0 295px;
    margin: 0 auto;
}

.banner-wrappar{
    padding: 8px 12px;
    background: rgb(255, 255, 255);
    border-radius: 100px;
    display:  inline-flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
  
}

.circle-one{
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: rgba(70, 145, 101, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle-two{
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: rgba(70, 145, 101, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;

}

.circle-three{
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: #469165;
    display: flex;
    justify-content: center;
    align-items: center;

}

.circle-text{
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    line-height: 19px;

}
h1{
    font-size: 72px;
    font-weight: 700;
    color: white;
    line-height: 84px;
    text-align: center;
    text-transform: capitalize;
    padding: 24px 0 16px 0;

}

.text-heading{
    font-size: 18px;
    align-items: center;
    line-height: 24px;
    text-align: center;
    color: white;

}

.btn-group{
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 16px;
}

/* --------banner end----------- */